.topbar {
  height: 72px;
  background: #f8f9fc;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 32px;
  font-family: 'outfit', sans-serif;
}

/* SEARCH */
.searchContainer {
  position: relative;
  width: 280px;
}

.searchInput {
  width: 100%;
  padding: 10px 16px 10px 38px;
  border-radius: 30px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  outline: none;
  font-size: 14px;
   font-family: 'outfit', sans-serif;
   font-weight: 600;
  transition: 0.2s ease;
}

.searchInput:focus {
  border-color: #3ecf8e;
  box-shadow: 0 0 0 3px rgba(62, 207, 142, 0.1);
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
}

/* PROFILE */
.profileWrapper {
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2f3e5c;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease;
}

.profile:hover {
  opacity: 0.9;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 16px;
  font-weight: 600;
   font-family: 'outfit', sans-serif;

}

/* DROPDOWN */
.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  width: 140px;
  padding: 8px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
   font-family: 'outfit', sans-serif;
font-weight: 600;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #374151;
  transition: 0.2s ease;
}

.dropdownItem:hover {
  background: #f3f4f6;
}