* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #f3f4f8;
  color: #1f2937;
}

.content {
  flex: 1;
  width: 100%;
  padding: 0;
}

.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}